In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load the data sets 
import seaborn as sns
phool= sns.load_dataset('iris')
phool.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# input and output
X= phool.iloc[:,:-1]

In [5]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
from sklearn.cluster import KMeans
within_cluster_sum_of_square=11

for i in range(1,11):
    kmeans= KMeans(n_clusters=i, init='k-means++', max_itr=300, n_init=10, random_state=0)
    kmeans.fit(descriptive_features)
    within_cluster_sum_of_square.append(kmeans.inertia_)

In [ ]:
#plotting the results
plt.plot(range(1,11), within_cluster_sum_of_square)
plt.title('The elbow method')
plt.xlabel('number of ')

In [ ]:
##