In [3]:
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
kashti=sns.load_dataset('titanic')
kashti.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [13]:
kashti_age['age_bins'] = pd.cut(x=kashti_age['age'], bins=[20, 29, 39, 49])

NameError: name 'kashti_age' is not defined

In [17]:
bins= np.linespace(5:(kashti['age']), 100:(kashti['age']),150)
# bins= np.linespace(min(kashti['age']), max(kashti['age']),15000)
age_groups =["bachy", "jawan", "boorhay"]
kashti['age']=pd.cut(kashti['age'], bins, labels=age_groups, include_lowest=True)
kashti['age']

SyntaxError: invalid syntax (Temp/ipykernel_12048/4015137367.py, line 1)