# BASICS (Before Starting Chilla)

In [ ]:
# First Lines of Code
print(2+3)
print("hello world")
print("we are lreaning python with ammar")

# 02_operators
- spaces are meaningless in operators
- sequences of operators run will always be like (pemdas (parenthesis exponents multiply divide addition subtraction)
- (sequence will be left to right mdas)
   print(2+3)
   print(3-1)
    print(6/2)
    print(2*3)
    print(13%2)
    print(6//2)
    for powers
    print(2**3)
    print(3**2/2*3/3+6-4)

# 03_Strings
- # any text in excel (single/double commas or 3 qutation marks are strings)
    #print("hello world")
    #print("we are lreaning python with ammar")
    #print('test for single quotes')
    #print("test for double quotes")
    #print('''test for triple quotes''') 

    print("  what's up  ?")

# 04_Comments
  -  print("how are you?") #ctrl+/ to comment out
  -  print ("we are learning python with ammar")
  -  print(2+6) #dggf

# 05_ variables
 - variables are objects containig specific values
 - x=5 #numeric variable
 - print(x)
 - y="we are learning pyton drtuui" #string variable
 - print(y)
 - x=123
 -print(x)
    # x=x+123+67
    # print(x)
    # # types of variables
    # type(x)
    # print(type(x))
    # print(type(y))
## rules to assign  a variable or a object in a variables
 - 1= variable should contain letters numbers or underscores
- 2=do not start with numbers (ex=2y)
- spaces are not allowed
- do not use python a key word in function (help google "key words in python")
- short and descriptive variable names 
- case sensitivity (lower and upper case) always use lower case leters
    fruit_basket=8
    fruit_basket="mangoes"
- del fruit_basket to delete something
    print(type(fruit_basket))
    print(fruit_basket)

# 06_input_variables
- input function using 3 ways

In [ ]:
fruit_basket="mangoes"
print(fruit_basket)

# input function

fruit_basket=input("which is your fruit")
print(fruit_basket)
input fntion 2nd stage
name=input("what is your name")
greetingd="hllo"
print(greetingd, name)

#another way of srage 2 function

name=input("what is your name")
print("hello", name) 

###3rd stage input function
name= input("what is your name")
age=input("how old are you")
greeting="hello"
print(greeting, name, ",you are still young")

# 07_Conditional_Logical_Operators
    # logical operators are true/false//yes/no/1/0/
    # equal to  ==
    #  not equal to !=
    # less than <
    # greater than >
    # less than and equal to <=
    # greater than and equal to >=

In [ ]:
#one way to put operators in code
print(4==4)
print(4!=4)
print(4>3)
print(3<6)
print(3<=6)

# applications of logical operators
# brother t0 school example

hamid_age=4
age_at_school=5
print(hamid_age==age_at_school)

# 2nd wayinput fnctn and logical operator
age_at_school=5
hamid_age=input("how old is hamid") # input function
hamid_age=int(hamid_age)
print(type(hamid_age))
print(hamid_age==age_at_school) #logical operator

# 08_Type_Conversion
    # # x= 10              #integer
    # # y=10.2              #float =integ*float
    # # z="hello"           #string

In [ ]:
# ###  implicit type conversion
x=x+y
print(x,"type of x is:", type(y))

# ## explicit typenjjjj
age=input("what is your age")
age=int(age)
print(age,type(int(age)))

##name
name=input("what is your name")
print(name, type(str(name)))

# 09_If_Else_Elif

In [ ]:
# required age at school 
hamid_age=2
required_age_at_school=5


## can/can't go to school
if hamid_age==required_age_at_school:
    print("hamid can join school")
elif hamid_age > required_age_at_school:
    print("hamid should join h scjool")
elif hamid_age==2:
    print("care baby")

else:
    print("hamid can not go to school or should join high class")

# 10_Functions

In [ ]:
# direct writing
from typing import Text

print("Azeem ")
print("Azeem ")
print("Azeem ")
print("Azeem ")
print("Azeem ")
print("Azeem ")

## defining a Function (First way)

def print_cds():
    print("Azeem ")
    print("Azeem ")
    print("Azeem ")
print_cds()

## defining a function (second way)
def print_cds():
    Text= "is it changed "
    print(Text)
    print(Text)
    print(Text)
print_cds()

# defining a function (third way)
def print_cds(Text):
    print(Text)
    print(Text)
    print(Text)
print_cds("Azeem")

## defining a function with if elif else statement

def school_calculator(age, text):
    if age==5:
        print("hamid can join the school")
    elif age>5:
        print("hamid should go tohigherschool")
    else:
        print("hamid is a baby")
school_calculator(2, "hamid")

## defining a future  function (advance)
def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)
future_predicted_age= future_age(5)
print(future_predicted_age)

# 11_Loops

In [ ]:
#while and For loop (while= repeat until it recognizes)

# 1- while loop
x=0
while (x<=   5):
    print(x)
    x=x+1
    
# 2- For Loop
for x in range(5,11):
    print(x)

# 3- Arrays
days= ["mon", "tue", "wed", "thrus", "fri",
"sat", "sun" ]
for d in days:
    # if (d=="fri"):break #(loop stops)
    if (d=="fri"): continue  # skips 
    print(d)

# 12_import_Libraries

In [ ]:
# if you want to print the valu of pi
import math
print ("the value of pi is", math.pi)
import statistics
x=[150,250,350,450,550]
print(statistics.mean(x))
### important libraries numpy, pandas

# 13_Trouble_Shooting
- there are two types eroors 
- 1= syntax error ===easy to remove also called as syntax error
- 2= symantic errors ==== you have to read written script to find out errors python will not tell you the error place

In [ ]:
# print("we are learning python with ammar")
# print(25/0) ## runtime errorne
name="azeem"
print("hello"+name)   ##  symantic error most difficult error
# trouble shooting is easy

# 14_Important_Information
    ##### installation
    # command_line tool
    # vs code and p[ython
    # first line of code 
    # operation 
    # comments
    # variables 
    # type conversions
    # if, elif, else ]

## Day First

In [ ]:
# import library
# steps involved in data visulization
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="ticks", color_codes= True)

# import datasets ## yu can also iport your own data(in this step)
kashti = sns.load_dataset("titanic")
# print(kashti)

# plot basic design(4)
P= sns.countplot(x="sex", data= kashti)
plt.show()
## step 55
P= sns.countplot(x="sex", data= kashti, hue="embark_town")
plt.show()
# ## step 6 tilitles
P= sns.countplot(x="sex", data= kashti, hue="class")
P.set_title("First Graph of life using Python")
plt.show()

In [ ]:
# Data Visulization using meeting generated file
# steps involved in data visulization
import pandas as pd
doctors=pd.read_csv("data_chilla.csv")
print(doctors)
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_theme(style="ticks", color_codes=True)
p=sns.countplot(x="Gender", hue="Location", data=doctors)
p.set_title("is plot is correct")
plt.xlabel("population")
plt.ylabel("numbers")
plt.show()

## Day Second and Practice
- very first graph using python language by self
- modified plot using python

In [ ]:
# very first graph using python language
# catplot
import seaborn as sns
import matplotlib.pyplot as plt
sns. set_theme(style="ticks", color_codes=True)
titanic = sns.load_dataset("titanic")
print(titanic)
sns.catplot(x="sex", y="fare", hue="adult_male", kind="bar", data=titanic)
plt.show()

In [ ]:
## very First Modified plot
# scatter plot
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="ticks", color_codes=True)
titanic = sns.load_dataset("titanic")
g=sns.FacetGrid(titanic, row="sibsp", hue="class")
g=(g.map(plt.scatter, "age", "fare").add_legend())
plt.show()

# Day_3
- data visulization

In [ ]:
# import library
# steps involved in data visulization
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="ticks", color_codes= True)

# import datasets ## yu can also iport your own data(in this step)
kashti = sns.load_dataset("titanic")
# print(kashti)

# plot basic design(4)
P= sns.countplot(x="sex", data= kashti)
plt.show()
## step 55
P= sns.countplot(x="sex", data= kashti, hue="embark_town")
plt.show()
# ## step 6 tilitles
P= sns.countplot(x="sex", data= kashti, hue="class")
P.set_title("First Graph of life using Python")
plt.show()

# day_4
- iris learned during the class 
-- iris data set labelled by mysef

In [ ]:
# import libraries
import seaborn as sns
import matplotlib.pyplot as plt
## load dataset
phool = sns.load_dataset("iris")



##draw a line plot
sns.lineplot(x="sepal_length", y="sepal_width", data=phool)
plt.title("phoolon ka plot")
sns.set_style("whitegrid")#, {"grid.color": "1", "grid.linestyle": ":"})
plt.show()

In [ ]:
#line plot from collected data set
import pandas as pd
homework=pd.read_csv("Chilla_data2_for_plots.csv")
print(homework)
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(6,4))
sns.lineplot(x="Age", y="Gender", data=homework,)
plt.title("Line Plot Representing Ages of participants")
plt.xlabel("Ages")
plt.ylabel("male/female")
sns.set_style("darkgrid") #, {"grid.color": ".9", "grid.linestyle": ":"})
plt.xlim(2)
plt.ylim(1)
plt.show()

# Day_5
-- Dhamak Khaiz Mawad

In [ ]:
import plotly.express as px
df = px.data.iris()
fig = px.scatter(df, x="sepal_width", y="sepal_length", color="species")
fig.show()

In [ ]:
import plotly.express as px
df = px.data.iris()
fig = px.scatter(df, x="sepal_width", y="sepal_length", color="species", marginal_y="violin",
           marginal_x="box", trendline="ols", template="simple_white")
fig.show()

In [ ]:
import plotly.express as px
data_canada = px.data.gapminder().query("country == 'Canada'")
fig = px.bar(data_canada, x='year', y='pop')
fig.show()

# plotly graphs of seld collected data

In [ ]:
# import seaborn as sns
import pandas as pd
doctors=pd.read_csv("chilla_data.csv")
doctors
# # import plotly.express as px
# # import numpy as np
# # import matplotlib.pyplot as plt
# df = px.data.doctors()
# fig = px.scatter(df, x="Gender", y="Marital Status?", color="What are you?")
# fig.show()

In [ ]:
import pandas as pd
doctors=pd.read_csv("chilla_data.csv")
import seaborn as sns
sns.set_theme(style="whitegrid")

# Load the example tips dataset
doctors = sns.load_dataset("chilla_data")

# Draw a nested violinplot and split the violins for easier comparison
sns.violinplot(data=chilla_data, x="Gender", y="Marital Status?", hue="What are you?",
               split=True, inner="quart", linewidth=1,
               palette={"Yes": "b", "No": ".85"})
sns.despine(left=True)

## Day 7a Numpy
- numerical Python (Intel MkL and Open BlAS)
-

In [ ]:
import numpy as np
a = np.array([5,5,5,5,5])
a
type(a)

In [ ]:
#ists of arrays
a =([[2, 2,2], [2,2,2],[2,2,2]])
a

In [ ]:
import numpy as np
a = np.array([1,2,3,4,5])
a

In [ ]:
b = np.zeros(5)
b

In [ ]:
c = np.ones(3)
c

In [ ]:
e = np.arange(2, 60, 5)
e

In [ ]:
h = np.linspace(0,100,num=9)
h

In [ ]:
#int8
#

In [ ]:
a = np.zeros((3,4))
a

In [ ]:
3-D array

In [ ]:
c= np.arange(24).reshape(2,3,4)
c

# PANDAS 
- (Pannel Data Analysis)
- used for data manipulation and data analysis

- Time line
- 1. 2008 development started
- 2. 2009 become open source
- 3. 1st Edition of *python for data analysis published* in 2012
- 4. 2015 Pandas become a NumFOCUS sponserd project
- 1. First in person core developer sprint 2018

- we use because we can easily manipulate and analyse data
- to tidy up our data and make our data usefull 
  # Types of DATA Analysis
-  Descriptive Analytics : what happend?
-  Diagnostic Analytics : why happend?
-  Predicive Analytics : what is likely to happen in future
-  Prescriptive Analytics : what is the best course of action to take?

# Different terms
- Data frame  - worksheet
- series      - columns
- index       - row headings first column of a row
- Row         - row
- NaN         - empty cells missing values

# Merits
- python library
- data analysis and manipulation
- data science
- machine learning
- if yourwork invove data you must use it
- its free
- load, prepare, read , model and analyze
- join,merge, filter, reshape
- data from different data bases and join in one
- anything with data
- datafeames= pandas data strucutres
- can downoad data in excel
-

- import libraries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# object creation
s = pd.Series([1,3, np.nan,5, 7, 8,9])
s

In [ ]:
dates = pd.date_range("20130101", periods=20)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(20, 4), index=dates, columns=list("ABCD"))
df

In [ ]:
df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20221101"),
        "C":pd.Series(1, index=list(range(4)), dtype="float32"),
        "D":np.array([3] * 4, dtype="int32"),
        "E":pd.Categorical(["girl", "women", "girl", "women"]),
        "F":"females"
    }
)
df2

In [ ]:
df2.dtypes

In [ ]:
## how to view data in pandas 
df.head(2)

In [ ]:
df.index

In [ ]:
df.tail(2)

In [ ]:
# convert data to numpy
df2.to_numpy()

In [ ]:
#converting to arrays
df.to_numpy()

In [ ]:
#describing
df.describe()

In [ ]:
# to transpose  data
df2.T

In [ ]:
## sorting to save
# df.sort_index(axis=0, ascending=True)
df.sort_values(by="C", ascending=True)

In [ ]:
# selection filtartion
df["A"]

In [ ]:
## indexing row wise selection
df[0:]

In [ ]:
## selecting a specific data
df.loc[dates[15]]

In [ ]:
## using multiple labels
df.loc[:, ["A", "B"]]

In [ ]:
# data selection at very specific point
df.loc["20130102":"20130104", ["A", "B","C"]]

In [ ]:
# list inside a list
df.loc[["20130102","20130104"], ["A", "B"]]

In [ ]:
df.loc["20130102", ["A", "B","C"]]

In [ ]:
#at secific index
df.at[dates[0], "A"]

In [ ]:
# indexing on base of position
# df.iloc[3:10]
df.iloc[0:10, :]
# df.iloc[0:15,0:3]

In [ ]:
df.iloc[:,0:2]

In [ ]:
# indexing with bolean operators
# df[df["A"]>0]
# df[df["A"]>1.5]
df[df>0] # missing values function

In [ ]:
## is in method 
df2 = df.copy()

In [ ]:
# concatenation or addition(adding another column)
df2["E"] = ["one","one", "two","three", "four", "three",
"one","one", "two","three", "four", "three","one","one", "two","three", "four", "three",
 "four", "three"]
df2

In [ ]:
df2["mean"]=[1.2,2.3,4.0,1.3,3.2,1.2,2.3,4.0,1.3,3.2,1.2,2.3,4.0,1.3,3.2,1.2,2.3,4.0,1.3,3.2]
df2

In [ ]:
## updating df2
df2["new"]=[1.2,2.3,4.0,1.3,3.2,1.2,2.3,4.0,1.3,3.2,1.2,2.3,4.0,1.3,3.2,1.2,2.3,4.0,1.3,3.2]
df2
df2 = df2.iloc[:, 0:4]
df2