In [3]:
# import libraries
import pandas as pd
df= pd.read_csv('mldata1.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [6]:
# change bolean operator to dummies
df['gender']= df['gender'].replace('Male',1)
df['gender']= df['gender'].replace('Female',0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [7]:
# selection of input and output variables
x = df[['weight', 'gender']]
y = df['likeness']
x.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [16]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
model= DecisionTreeClassifier()
# creat and fit our model
model= DecisionTreeClassifier().fit(x, y)
# model.fit(x, y)

# prediction
model.predict([[80,1]])

C:\Users\Haier\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [20]:
# how to measure the accuracy of our model
###split data into test and train (80/20 rule)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train, x_test, y_train,y_test=train_test_split(x, y, test_size=0.2)  ### 80% training data 20% test data

# creat a model
model= DecisionTreeClassifier()
## fitting a model
model.fit(x_train, y_train)
##prediction values
predicted_values = model.predict(x_test)
predicted_values
## checking score
# y_test= actual values
score= accuracy_score(y_test, predicted_values)
score

0.6122448979591837

In [19]:

## checking score
# y_test= actual values
score= accuracy_score(y_test, predicted_values)
score

0.5102040816326531

In [23]:
## how to train and save your model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(x,y)

joblib.dump(model, "foodie.joblib")

['foodie.joblib']

In [ ]:
## how to import/run a stored or saved model on our data? assignmment
## how to check accuracy of ourmodel? assignment

In [24]:
## graph
from sklearn import tree
model= DecisionTreeClassifier().fit(x,y)
## graphic evaluation/look nto what happend
tree.export_graphviz(model,
                    out_file="foodie.dot",
                    feature_names=['age', 'gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded= True,
                    filled= True)