# Importing and Applying Saved Models

In [54]:
# import libraries
import pandas as pd
df= pd.read_csv('mldata1.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

# Prediction of age using Wieght, height, gender , and likeness

In [55]:
# get dummies from gender and likeness
df['likeness']= df['likeness'].replace('Biryani',1)
df['likeness']= df['likeness'].replace('Pakora',3)
df['likeness']= df['likeness'].replace('Samosa',2)
df['gender']= df['gender'].replace('Male',1)
df['gender']= df['gender'].replace('Female',0)

In [56]:
df.tail()

     age  height  weight  gender  likeness
240   31   160.0    60.0       1         3
241   26   172.0    70.0       1         1
242   40   178.0    80.0       1         1
243   25     5.7    65.0       1         1
244   33   157.0    56.0       0         2

In [57]:
x = df[['weight','height', 'gender', 'likeness']]
y = df['age']
x.head()

   weight   height  gender  likeness
0    76.0  170.688       1         1
1    70.0  165.000       1         1
2    80.0  171.000       1         1
3   102.0  173.000       1         1
4    67.0  164.000       1         1

# importing the saved model

In [58]:
from sklearn.tree import DecisionTreeClassifier
model= DecisionTreeClassifier()


import joblib
model_from_joblib = joblib.load('Gender.joblib')

# Fitting the loaded model

In [59]:
model_from_joblib.fit(x,y)

DecisionTreeClassifier()

# Prediction through fitted Model

In [60]:
# prediction
model_from_joblib.predict([[80,131,1,3]])

C:\Users\Haier\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([27], dtype=int64)

# Measuring the accuracy of fitted moodel

In [64]:
model_from_joblib.score(x,y)

0.9877551020408163